@media (width <= 1160px) {
  #home,
  .header-section,
  .section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (width <= 1050px) {
  html {
    font-size: 52.5%;
  }
  #about .grid-two-columns {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }
  .grid-three-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 750px) {
  .navbar a {
    padding: 0 1rem;
    font-size: 1.6rem;
  }
  form {
    width: 90%;
  }
  .grid-two-columns {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .home-content,
  p {
    text-align: center;
  }

  .skill-set p {
    text-align: left;
  }
  .home-image img {
    width: 50rem;
    height: 50rem;
  }
}
@media (width <= 650px) {
  .navbar {
    position: fixed;
    left: 0;
    top: -100%;
    height: 90%;
    width: 100%;
    background: var(--hover-color);
    flex-direction: column;
    opacity: 0%;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
  }
  .show .navbar {
    top: 7rem;
    opacity: 1;
  }
  #menuBar,
  .show .responsive-icons #closeIcon {
    display: block;
  }
  .show .responsive-icons #menuBar {
    display: none;
  }
  .navbar a {
    width: 100%;
    padding: 0 1rem;
    height: 50%;
    font-size: 2.5rem;
  }
}

@media (width <= 570px) {
  .grid-three-columns {
    grid-template-columns: 1fr;
  }
  #home {
    padding-bottom: 5rem;
  }
  .header-section,
  .section {
    padding-inline: 2rem;
  }
  .section,
  .section-fluid {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .contact-container .grid {
    gap: 0;
  }
}
@media (width <= 500px) {
  .about-image img,
  .home-image img {
    width: 30rem;
    height: 30rem;
  }
  form {
    width: 100%;
  }
}

@media (width <=360px) {
  h1 {
    font-size: 3rem;
  }

  .about-image img,
  .home-image img {
    width: 100%;
  }
}
